.nuget/
bin/
obj/
packages/
node_modules/
_ReSharper.Caches
.vscode
.vs
*.user
Acos.Websak.Administrasjon/.idea/.idea.Acos.Websak.Admin/.idea/.name
Acos.Websak.Administrasjon/.idea/.idea.Acos.Websak.Admin/.idea/indexLayout.xml
Acos.Websak.Administrasjon/.idea/.idea.Acos.Websak.Admin/.idea/workspace.xml
*.xml
